<html>
  <head>
    <meta charset='utf-8' />
    <title>Your Wavelength 인증</title>
  </head>
  <body>
    <h1>이메일 인증 코드</h1>
    <p>안녕하세요, Your Wavelength 입니다.</p>
    <p>귀하의 이메일 인증 코드는 다음과 같습니다.</p>
    <h2>{{code}}</h2>
    <p>이 코드를 입력하여 이메일 인증을 완료해 주세요.</p>
  </body>
</html>